body {
    background-image: url("white.gif");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    line-height: 1.6; 
    word-spacing: 1.4px;
    font-family: "Roboto", sans-serif;
    color: var(--clr-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


img {
  opacity: 0.2;
  transition: 3000ms;
}

img:hover {
  opacity: 1;
}

a:hover {
  opacity: 1;
  color: yellow;
}
