body {
    background-image: url("white.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {  
    text-align: center;
    color: #0F0F0F;
}
ul {
    list-style-type: square; 
}
