body {
    background-image: url("white.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {  
    text-align: center;
    color: #0F0F0F;
}
ul {
    list-style-type: square; 
}
.section {
    padding: 40px 20px;
    text-align: center;
}

.banner {
    background-image: url("black.gif");
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    padding: 30px 0;
    text-align: center;
}

.banner-text h2 {
    font-size: 2.5em;
}
